{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>Bike Billing System</h2>

<a href="/products">Products</a>
<a href="/billing">Billing</a>
<a href="/reports">Reports</a>
<a href="/logout" class="logout">Logout</a>
{% endblock %}
<a href="/products" class="button">
    <i class="fa fa-box"></i> Products
</a>

<a href="/billing" class="button">
    <i class="fa fa-receipt"></i> Billing
</a>

<a href="/reports" class="button">
    <i class="fa fa-chart-line"></i> Reports
</a>
